@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --primary-color: #00898E;
    --stars-background: url("stars.png"), linear-gradient(120deg, #0f2027, #203a43, #2c5364) no-repeat;
    --background-color: rgba(255, 255, 255, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 16px;

    margin: 0;
    overflow: auto;
    min-height: 100vh;
    max-width: 100%;
}

.strong {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: background .3s;
}

.btn:hover:enabled {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    display: none;
}