@import "base.css";
@import "responsive-table.css";

.details-container {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 1rem;

    flex-wrap: wrap;
}

.details-container table > * {
    text-align: center;
}

.details-container > * {
    flex-basis: 100%;
}

.detail {
    margin: 0;
}

.details-container input[type="number"] {
    width: 4em;
}

.details-container > ul {
    display: flex;
    flex-flow: row wrap;
}

.details-container li {
    padding: 0.5em;
}

.apply-trade-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
}

.apply-trade-container > .btn {
    margin-right: 1em;
    margin-left: 1em;
}

.starship-status-container, .starship-travel-container {
    flex-basis: 50%;
}

@media (max-width: 600px) {
    .stretch-on-mobile {
        min-width: 100vw;
    }

    .starship-status-container, .starship-travel-container {
        flex-basis: 100%;
    }
}

@media (max-width: 1200px) {
    .stretch-on-mobile {
        min-width: 80vw;
    }

    .stretch-on-mobile * {
        text-align: center;
    }

    .stretch-on-mobile .details-container {
        margin: auto;
    }


}

