@import "base.css";
@import "popup.css";

body {
    background: var(--stars-background);
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
}

h3 {
    line-height: 15px;
}

strong {
    font-weight: 700;
}

p {
    line-height: 20px;
}

.container {
    min-height: 100vh;
    overflow: auto;
    background: var(--background-color);
    max-width: 30em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

input[type=text], input[type=password] {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}