@import "base.css";
@import "popup.css";
@import "details.css";

body {
    background: var(--stars-background);
}

.header {
    grid-area: header;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    background: var(--background-color);
    padding: 1rem;
}

.header > * {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

.ships {
    grid-area: ships;
    background: var(--background-color);
    padding: 1rem;
}

.en-route:before {
    font-family: "Material Icons";
    content: "sync";
}

.starship-info {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:hover {
    background: var(--background-color);
}

.map {
    grid-area: map;
    min-width: 20em;
    min-height: 20em;
    display: flex;
    justify-content: center;
}

.map > svg {
    height: 100%;
    width: 100%;
}

.planets {
    grid-area: planets;
    background: var(--background-color);
    padding: 1rem;
}


.footer {
    grid-area: footer;
    background: var(--background-color);
    text-align: center;
    padding: 1rem;
}

.container {
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template-areas: "header" "ships" "planets" "map" "footer";
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 100vh;
    max-width: 80em;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "ships planets" "map map" "footer footer";
        grid-template-rows: auto auto 1fr auto;
    }

    .header {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .stat:first-of-type {
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "header header  header" "ships   map  planets" "footer footer  footer";
        grid-template-rows: auto 1fr auto;
    }

    .map > svg {
        height: 700px;
        width: 700px;
    }
}