/*@import "base.css";*/

.popup {
    position: fixed;
    padding: 10px;
    /*max-width: 500px;*/
    max-height: 90vh;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px));
    background: rgba(255, 255, 255, .9);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 100;
    overflow: auto;
}

.popup:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px));
    background: rgba(255, 255, 255, .9);
    z-index: 99;
}

.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: black;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
}

.popup .close:hover {
    color: var(--primary-color);
}

.close-popup {
    background: rgba(0, 0, 0, .7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility 0s linear .5s;
}

.popup:target + .close-popup {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.margin-right {
    margin-right: 1em;
}