/* Responsive table, credit https://codepen.io/AllThingsSmitty/pen/MyqmdM?editors=1100 */

.responsive-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.responsive-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.responsive-table th,
.responsive-table td {
    padding: .625em;
    text-align: center;
}

.responsive-table th {
    font-size: .85em;
    letter-spacing: .1em;
}

.form-error {
    background: red;
}

.form-error > td {
    background: red;
}


@media screen and (max-width: 600px) {
    .responsive-table {
        border: 0;
    }

    .responsive-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .responsive-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .125em;
        padding: .125em;
    }

    .responsive-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        margin-bottom: .125em;
        text-align: right;
        padding: .125em;
    }

    .responsive-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .responsive-table td:last-child {
        border-bottom: 0;
    }
}